

.header {
    padding: 0 10px;
    background-color: #212121;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5b5b5b;
    height: 60px;

    .mat-raised-button {
        background-color: #f2a61e;
        color: #000000;
        height: 27px;
        line-height: 27px;
        font-size: 12px;
    }
    div {
        display: flex;
        flex-direction: row;
    }

    app-find-replace,
    app-search {
        margin: 10px;
    }
}

// -----------Slick Grid Custom Elements-------------

::ng-deep {
  
   .slick-gridmenu-item:nth-child(4){
        display: none !important;
    }

    .page-count {
        margin-left: 5px !important;
    }
    .slick-pagination .slick-pagination-settings {
        margin-top: 5px;
    }

    .slick-pagination .slick-pagination-nav .pagination .page-link {
        font-size: 18px;
    }

    .slick-pagination .slick-pagination-nav {
        display: flex;
        flex-basis: inherit;
        align-content: center;
    }

    .slick-pagination .slick-pagination-nav .slick-page-number {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
    }

    .slick-pagination .slick-pagination-nav .pagination .page-item a[class*="icon-seek-"]:hover {
        background-color: #303030;
    }

    .slick-pagination .slick-pagination-nav .slick-page-number input,
    .slick-pagination .slick-pagination-settings select {
        background-color: #212121;
        border: unset;
        border-bottom: 1px solid #808080;
        border-radius: 0;
        color: #808080;
        height: 26px;
        margin: 0 5px;
    }
    .slick-pagination .slick-pagination-nav .pagination .page-item.disabled a[class*="icon-seek-"] {
        color: #808080;
        background-color: #212121;
        border-color: #212121;
    }
    .slick-pagination .slick-pagination-nav .pagination .page-item a[class*="icon-seek-"] {
        color: #f2a61e;
        background-color: #212121;
        border-color: #212121;
    }

    .slickgrid-container {
        border-bottom: 0;
    }
    .slick-pagination {
        padding: 0 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #212121;
        height: 50px;
    }
    .slickgrid-container .grid-canvas,
    .slickgrid-container .slick-viewport {
        background-color: #424242;
    }

    .title,
    .fa-random,
    .fa-bars {
        color: #f2a61e;
    }
    .close {
        background: transparent !important;
        color: #f2a61e;
    }

    .close:hover {
        color: #f2a61e;
    }
    .slick-gridmenu,
    .slickgrid-container .slick-pane-header {
        background-color: #212121;
    }
    .slick-header-menuitem:hover,
    .slick-gridmenu-item:hover,
    .slick-gridmenu-list li:hover {
        background-color: #424242;
        border: 1px solid #424242;
    }

    .slick-header-menuicon {
        color: #f2a61e;
    }
    .slick-header-menucontent,
    .slick-gridmenu-content,
    .slick-gridmenu-list li label {
        color: #ffeecf;
        font-size: 12px;
    }

    .slick-header-menu {
        background-color: #212121;
    }

    .slickgrid-container .slick-header-columns .slick-header-column .slick-sort-indicator {
        color: #f2a61e;
    }

    .slickgrid-container .slick-header-column-active {
        background-color: #212121 !important;
    }

    .slickgrid-container .grid-canvas .slick-cell {
        border-top: unset !important;
        border-bottom: unset !important;
        border-right: 1px solid #5e5e5e !important;
        font-size: 12px;
    }

    .slickgrid-container .grid-canvas .slick-row:hover {
        background-color: #7c7c7c !important;
    }

    .slickgrid-container .grid-canvas .slick-row.odd {
        background-color: #303030;
        font-size: 12px !important;
        border-bottom: 0px !important;

        .slick-cell {
            color: #9b9b9b;
        }
    }

    .slickgrid-container .grid-canvas .slick-row.even {
        background-color: #424242;
        color: #ffffff !important;
        font-size: 12px;
        border-bottom: 0px !important;

        .slick-cell {
            color: #9b9b9b;
        }
    }

    .slickgrid-container .slick-headerrow .slick-headerrow-columns .slick-headerrow-column {
        background-color: #212121;
        border-right: 1px solid #5e5e5e !important;
    }

    .slickgrid-container .slick-header-columns .slick-header-column.ui-state-default {
        background-color: #212121;
        color: #9b9b9b;
        border-right: 1px solid #5e5e5e !important;
    }

    .slickgrid-container .slick-headerrow .slick-headerrow-columns .slick-headerrow-column input {
        background-color: #424242;
        border: unset;
    }

    .slickgrid-container .slick-header-columns .slick-column-name {
        color: #f2a61e;
    }

    .slick-preheader-panel .ui-droppable,
    .slick-preheader-panel .ui-droppable-hover {
        border: 1px solid #424242 !important;
        width: calc(100% - 25px) !important;
        margin: 0 10px;
        border-radius: 4px;
        background-color: #424242;
    }

    // .slick-container{
    //     padding: 10px;
    // }

    .slickgrid-container .slick-header-columns,
    .slickgrid-container .slick-headerrow {
        background-color: #212121;
    }

    .slick-preheader-panel .ui-droppable {
        height: 40px;
    }
}
