<div class="header">
    <!-- <button (click)="groupByFieldName('duration',0)">group by duration</button> -->
    <button mat-raised-button color="accent" *ngIf="isAddNewRow" (click)="AddNewRow()">Add new row</button>
    <div>
        <app-find-replace *ngIf="slickGridConfig.isFindReaplce" [findReplaceConfig]="slickGridConfig.findReplaceConfig" ></app-find-replace>
        <app-search *ngIf="slickGridConfig.isSearch" (outPutDataSource)="filterData($event)"  [searchConfig]="slickGridConfig.searchConfig">
        </app-search>
        <button mat-raised-button class="filter-button" color="accent"
        (click)="exportToExcel()">Export to Excel</button>
    </div>
</div>

<angular-slickgrid gridId="grid1" [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptionLocal"
    [dataset]="slickGridConfig.dataSource" (sgOnClick)="onCellClicked($event.detail.eventData, $event.detail.args)"
    (onAngularGridCreated)="angularGridReady($event)">
</angular-slickgrid>