<div *ngIf="ShowTab" class="find-replace-container">
  <button mat-raised-button class="filter-button" color="accent"
    (click)="showFindReplace()">Find & Replace</button>

  <div class="expanded-find-replace" *ngIf="isFindReplace">
    <div class="header">
      <h6 color="accent">
        <mat-icon>swap_horiz</mat-icon> FIND AND REPLACE
      </h6>
      <mat-icon color="accent"  matTooltip="Close" style="cursor:pointer;">
        clear
      </mat-icon>
    </div>
    <div class="replace-container">

        <label>Select column</label>
        <select  [(ngModel)]="selectedOption">
          <option *ngFor="let material of findReplaceConfig.columnDef" [value]="material.field">
            {{material.name}}
          </option>
        </select>
       
     
        <label>BOM VALUE</label> 
        <input  placeholder="find..." type="search" [(ngModel)]="find" >       
   
      <input  placeholder="Replace..." type="search" [(ngModel)]="replace" >
    </div>
    <div class="footer"> 
    
        <button mat-raised-button color="accent" (click)="updateTable()">
          REPLACE
        </button> 
  
    </div>
    </div>
  </div>
