<!-- <div *ngIf="ShowTab" class="find-replace-container">
  <button mat-raised-button class="filter-button" color="accent"
    (click)="showFindReplace()">Find & Replace</button>

  <div class="expanded-find-replace" *ngIf="isFindReplace">
    <div class="header">
      <h6 color="accent">
        <mat-icon>swap_horiz</mat-icon> FIND AND REPLACE
      </h6>
      <mat-icon color="accent" (click)="showFindReplace()" matTooltip="Close" style="cursor:pointer;">
        clear
      </mat-icon>
    </div>
    <div class="replace-container"> -->
      <!-- <mat-form-field color="accent">
        <label>MODEL VALUE</label>
        <select (selectionChange)="bulkUpdateModelMaterial('current', $event)">
          <option *ngFor="let material of updateMaterialList.modelList" [value]="material">
            {{material}}
          </option>
        </select>
      </mat-form-field> -->
<!-- 
      <mat-form-field color="accent">
        <label>BOM VALUE</label> -->
        <!-- <mat-select (selectionChange)="bulkUpdateBOMMaterial('updated', $event)"
          [disabled]="bulkData.current === ''">
          <mat-option *ngFor="let material of materialsList" [value]="material">
            {{material}}
          </mat-option>
        </mat-select> -->
      <!-- </mat-form-field>
    </div>
    <div class="footer"> -->
      <!-- <toolbar> -->
        <!-- <button mat-raised-button color="accent" (click)="updateBulkData()">
          REPLACE
        </button> -->
      <!-- </toolbar> -->
<!-- 
    </div>
  </div>
</div> -->