<div class="row">
    <div class="col-xs-3"><label>LevelArea</label> <p>{{model?.Level + ' / ' + model?.SbTypeName}}</p></div>    
    <div class="col-xs-3"><label>ct/OT</label> <p>{{model?.CtTypeName + ' / ' + model?.OcTypeName}}</p></div>
    <div class="col-xs-3"><label>Category</label> <p>{{model?.Category + ' / ' + model?.RevitId}}</p></div>
    <div class="col-xs-3"><label>ModelMaterial</label> <p>{{model?.ModelMaterial}}</p></div>
    <select *ngIf="model?.InspireRecommendation.length > 0" [value]="model?.ScopeboxMaterial === 'PVC' ? 'PVC40' : model?.ScopeboxMaterial">
      <option *ngFor="let Inspire of model?.InspireRecommendation" [value]="Inspire">
{{Inspire}}
      </option>
    </select>
    <select *ngIf="model?.BomRecommendation.length > 0" [value]="model?.UpdatedMaterial === 'PVC' ? 'PVC40' : model?.UpdatedMaterial">
      <option *ngFor="let Bom of model?.BomRecommendation" [value]="Bom">
{{Bom}}
      </option>
    </select>
  </div>
