<!-- <app-slick-grid  (onAngularGridCreated)="angularGridReady($event)"
(sgOnCellChange)="onCellChanged($event.detail.eventData, $event.detail.args)"
(sgOnClick)="onCellClicked($event.detail.eventData, $event.detail.args)"
(sgOnValidationError)="onValidationError($event.detail.eventData, $event.detail.args)"
[columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions" [dataset]="dataset">
</app-slick-grid> -->

<app-slick-grid [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions" [slickGridConfig]="slickGridConfig">
</app-slick-grid>
