.main{
    height: 100%;
    padding: 5px;
    background-color: #303030;
}

mat-toolbar{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #303030;
    color: #f2a61e;
}

// .slick-container{
//     width: 60%;
// }

.btn{
    margin: 10px;
    font-size: 12px;
    height: 26px;
    line-height: 14px;
    background-color: #f2a61e;
    color: #000000;
    border: unset;
}