mat-form-field{
    background-color: #424242;
    font-size: 12px;
    height: 27px;
    padding: 0 10px;
    margin: 0;
    text-align: left;
    border-radius: 0.25rem;
    color: #f2a61e;
}

::ng-deep .mat-form-field-underline {
    display: none;
  }

  ::ng-deep .mat-form-field-wrapper {
    margin-top: 4px;
  }